#header{
    background-color: rgb(40, 40, 41);
    text-align: center;
}
#heading{
    color: white;
}
#inputcontainer{
    padding:2%;
    background-color: rgb(76, 76, 77);
}
#userlabel{
    color: white;
}
#submit{
    margin:2%
}