#header{
    background-color: rgb(40, 40, 41);
    text-align: center;
}
#heading{
    color: white;
}
#inputcontainer{
    padding:2%;
    background-color: rgb(76, 76, 77);
}
#userlabel{
    color: white;
}
#profileback{
    background-color: rgb(167, 166, 166);
    padding:5%;
}
#Cards{
    border-radius: 8px;
}