#header {
  background-color: #282829;
  text-align: center; }

#heading {
  color: white; }

#inputcontainer {
  padding: 2%;
  background-color: #4c4c4d; }

#userlabel {
  color: white; }

#profileback {
  background-color: #a7a6a6;
  padding: 5%; }

#Cards {
  border-radius: 8px; }
